<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <script src="/assets/scripts/htmx.min.js" />
  <!-- <link rel="stylesheet" href="/assets/css/shared.css"> -->
  <link rel="stylesheet" href="/assets/css/calendar.css">
</head>
<body hx-boost="true">
  <div hx-get="/utils/nav" hx-trigger="load" hx-swap="outerHTML"></div>

  <h1>Google Calendar</h1>
  
  <div hx-get="/calendar/events" hx-trigger="load">
    Fetching your schedule...
  </div>
  
  <button hx-get="/calendar/events" hx-target="previous div" style="margin-top: 20px;">
    🔄 Refresh Calendar
  </button>
</body>
</html>
