<!DOCTYPE html>
<html>
<head>
  <title>Shopping</title>
  <script src="/assets/scripts/htmx.min.js" />
  <!-- <link rel="stylesheet" href="/assets/css/shared.css"> -->
  <!-- <link rel="stylesheet" href="/assets/css/shopping.css"> -->
</head>
<body hx-boost="true">
  <!-- NAV -->
  <div hx-get="/utils/nav" hx-trigger="load once" hx-swap="outerHTML"></div>

  <h1>Shopping List</h1>

  <form 
    hx-post="/shopping/add" 
    hx-on::after-request="if(event.detail.successful) this.reset()"
    hx-swap="none"
  >
    <input name="item" placeholder="Add item..." required />
    <button type="submit">Add</button>
  </form>

  <div 
    id="list" 
    hx-get="/shopping/list" 
    hx-trigger="load, reloadList from:body"
  >
    Loading...
  </div>
  <br>
  <div style="margin-top: 20px; display: flex; gap: 10px;">
    <button 
      hx-delete="/shopping/delete-completed" 
      hx-target="#list"
      style="background-color: #f0f0f0; border: 1px solid #ccc; padding: 5px 10px;"
    >
      Clear Completed
    </button>

    <button 
      hx-delete="/shopping/clear" 
      hx-confirm="Really wipe the entire list?"
      style="background-color: #fff; border: 1px solid red; color: red; padding: 5px 10px;"
    >
      Clear All
    </button>
  </div>
  <br>
  <a href="/">← Back</a>
</body>
</html>